Source: libsvi
Section: libs
Priority: optional
Maintainer: Jayoun Lee <airjany@samsung.com>, Seokkyu Jang <seokkyu.jang@samsung.com>, Sangil Yoon <si83.yoon@samsung.com>
Build-Depends: debhelper (>= 5), libslp-setting-dev, libdevman-haptic-dev, libmm-sound-dev, dlog-dev
Standards-Version: 3.7.2

Package: libsvi-dev
Section: libs
Architecture: any
Depends: libsvi-0 (= ${Source-Version}), libslp-setting-dev, libdevman-haptic-dev, libmm-sound-dev, dlog-dev
Description: svi library (development)

Package: libsvi-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends} 
Description: svi library (shared object)

Package: libsvi-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsvi-0 (= ${Source-Version})
Description: svi library (unstripped)
